<%- include partials/header %>


<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" autocomplete="off">
        <label for="post">Post</label>
        <textarea type="text" class="form-control" name="post" autocomplete="off" cols="30" row="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>


<%- include partials/footer %>